<% provide(:title, "Problem " + (@thisid+1).to_s) %>
<div class="row">
  <aside class="col-md-12">
    <section class="problem_info">
      <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

      <h1>Problem Topic: </h1>
      <div class="problemview"><%= @problem.topic.name%></div>

      <h1>Question: </h1>
      <div class="problemview"><%= simple_format(@problem.question) %></div>

      <h1>Answer: </h1>
      <div class="problemview"><%= simple_format(@problem.answer) %></div>

      <h1>Your Answer: </h1>
      <div class="problemview"><%= @lastanswer %></div>

      <h1>Remark: </h1>
      <div class="problemview"><%= simple_format(@problem.remark) %></div>

      <p>
        <% if (@thisid == 0) %>
          <%= link_to "Previous Problem", quiz_problem_answer_path(:thisid => @thisid, :nextid => @thisid), class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Previous Problem", quiz_problem_answer_path(:thisid => @thisid, :nextid => @thisid - 1), class: "btn btn-primary" %>
        <% end %>
        <% if (@thisid == session[:problems].size - 1) %>
          <%= link_to "Next Problem", quiz_problem_answer_path(:thisid => @thisid, :nextid => @thisid), class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Next Problem", quiz_problem_answer_path(:thisid => @thisid, :nextid => @thisid + 1), class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Quit Evaluation", root_path, class: "btn btn-primary" %>
      </p>


    </section>
  </aside>
</div>